<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form method="POST" action="/create_note">
    {{  form.csrf_token }}
    <div>{{ form.text.label }}: {{ form.text() }}</div>
    <div>{{ form.date.label }}: {{ form.date() }}</div>
    <div>{{ form.public.label }}: {{ form.public() }}</div>

    <input type="submit" value="Save changes">
</form>



</body>
</html>