

# block content
  <div class="jumbotron">
    <h2>
      <small>{{error.code}}</small>
      Oh no...! {{error.name}}
    </h2>
    <p class="lead">
     You are at the wrong page
    </p>
  </div>

  <hr>

  <div class="row">
    <div class="span12">
      <img
          src="http://i.imgur.com/wzBcYCV.png"
          class="img-error"
          alt="xkcd: Wisdom of the Ancients"
          title="xkcd: Wisdom of the Ancients"
        >
    </div>
  </div>
# endblock
